<!DOCTYPE html>
<html style="width:100%;height:100%">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text.css" href="/public/xiren/css/css.css">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="black" name="apple-mobile-web-app-status-bar-style" />
  <meta content="telephone=no" name="format-detection" />
  <script src="/plugins/jquery-1.11.1.min.js"></script>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

</head>
<body style="background:url(/public/xiren/img/bg_a.jpg) no-repeat center center;background-size:100% 100%; width:100%; height:100%;">
<input type="hidden" id="salesid" value="<%=salesid%>">
<input type="hidden" id="logid" value="<%=logid%>">
<input type="hidden" id="wxid" value="<%=wxid%>">
<input type="hidden" id="hid" value="<%=huayu.id%>">
<div id="audio_btn" class="off rotate" style="display: block;">
  <audio loop src="<%= sales.audiourl||'' %>" id="media" autoplay preload></audio>
</div>
<div class="title"><%-huayu.title%></div>
<dl class="shar cf2">
  <dt class="shar_a"><span><img src="<%if(huayu.picurl){%><%=huayu.picurl%><%}else{%>/public/xiren/img/pic_a.jpg<%}%>"></span></dt>
  <dd class="shar_b">
    <%-huayu.note%></dd>
</dl>
<input id="btn1" type="button" value="去分享" class="shar_c">
<div class="hot_bag"><a style="cursor: hand" id="link"><img src="/public/xiren/img/hot_bag.png"></a></div>
<div id="share" class="share" style="display: none;z-index:210;">
  <img src="/public/xiren/img/shar.png" class="share_a">
  <p class="share_b">请点击右上角<br>将它发送给指定朋友<br>或分享到朋友圈</p>
</div>
<script type="text/javascript">
  wx.config(<%-JSON.stringify(jsconfig)%>);
  wx.ready(function(){
    wx.onMenuShareTimeline({
      title: '<%=user.name||''%>的新年花语是：<%-huayu.title||''%>。打开我的新年花语，领取袭人新年红包。', // 分享标题
      link: 'http://<%-sails.config.system.AppDomain+'/public/wx/sales/xiren/myhuayu?salesid='+salesid+'&logid='+logid+"&wxid="+wxid%>', // 分享链接
      imgUrl: 'http://<%=sails.config.system.AppDomain%><%if(huayu.picurl){%><%=huayu.picurl%><%}else{%>/public/xiren/img/pic_a.jpg<%}%>', // 分享图标
      success: function () {
        $("#share").hide();
        $.ajax({
          type: 'POST',
          url: '/public/wx/sales/xiren/share',
          data: {"salesid": $("#salesid").val(), "logid": $("#logid").val(), "wxid": $("#wxid").val()},
          success: function (data) {
          },
          dataType: 'json'
        });
      },
      cancel: function () {
        $("#share").hide();
      }
    });
    wx.onMenuShareAppMessage({
      title: '<%=user.name||''%>的新年花语是：<%-huayu.title||''%>', // 分享标题
      desc: '打开我的新年花语，领取袭人新年红包。', // 分享描述
      link: 'http://<%-sails.config.system.AppDomain+'/public/wx/sales/xiren/myhuayu?salesid='+salesid+'&logid='+logid+"&wxid="+wxid%>', // 分享链接
      imgUrl: 'http://<%=sails.config.system.AppDomain%><%if(huayu.picurl){%><%=huayu.picurl%><%}else{%>/public/xiren/img/pic_a.jpg<%}%>', // 分享图标
      type: '', // 分享类型,music、video或link，不填默认为link
      dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
      success: function () {
        $("#share").hide();
        $.ajax({
          type: 'POST',
          url: '/public/wx/sales/xiren/share',
          data: {"salesid": $("#salesid").val(), "logid": $("#logid").val(), "wxid": $("#wxid").val()},
          success: function (data) {
          },
          dataType: 'json'
        });
      },
      cancel: function () {
        $("#share").hide();
      }
    });
  });

  $(document).ready(function () {
    $("#audio_btn").on("click",function(){
      if($(this).hasClass("rotate")){
        $('audio').get(0).pause();
        $("#audio_btn").removeClass("rotate");
      }else{
        $('audio').get(0).play();
        $("#audio_btn").addClass("rotate");
      }
    });
    $("#btn1").on("click",function(){
      $("#share").show();
    });
    $("#share").on("click",function(){
      $("#share").hide();
    });
    $("#link").on("click",function(){
      window.location.href = '/public/wx/sales/xiren/hongbao?salesid=' + $("#salesid").val() + '&logid=' + $("#logid").val() + '&wxid=' + $("#wxid").val();
    });
  });
</script>
</body>
</html>
