<form action="/private/shop/order/order/dopay" method="post">
<div class="modal-body no-p">
  <div class="row">
    <div class="col-xs-12">
      <section class="panel panel-primary no-b">
        <header class="panel-heading clearfix brtl brtr">
          <div class="overflow-hidden">
            <a href="javascript:;" class="h4 show no-m pt5">订单详情</a>
          </div>
        </header>
        <div class="list-group" style="text-align: center;padding-top: 10px;">
          <table width="80%" style="padding: 10px;">
            <tr style="height: 30px;">
              <td width="20%" align="right">订单号：</td>
              <td width="30%" align="left">
                <%=obj.id%>
              </td>
              <td width="20%" align="right">订单总额：</td>
              <td width="30%" align="left">
                &yen;<%=StringUtil.setPrice(obj.finishAmount)||'0.00'%>
              </td>
            </tr>
            <tr style="height: 30px;">
              <td width="20%" align="right">会员昵称：</td>
              <td width="30%" align="left"><%- obj.memberId.nickname||'' %></td>
              <td width="20%" align="right">手机号码：</td>
              <td width="30%" align="left"><%- obj.memberId.mobile||'' %></td>
            </tr>
            <tr style="height: 30px;">
              <td width="20%" align="right">收货人：</td>
              <td width="30%" align="left"><%= obj.addrName%></td>
              <td width="20%" align="right">联系电话：</td>
              <td width="30%" align="left"><%=obj.addrMobile||'0'%></td>
            </tr>
            <tr style="height: 30px;">
              <td width="20%" align="right">收货地址：</td>
              <td width="80%" align="left" colspan="3">
                <%-obj.addrProvince+obj.addrCity+obj.addrArea+obj.addrAddr%>
              </td>
            </tr>
          </table>
          <table width="80%" style="padding: 10px;margin-left: 25px;">
            <thead>
              <tr>
                <td width="50%" align="left">商品名称</td>
                <td width="10%" align="right">数量</td>
                <td width="20%" align="right">单价</td>
                <td width="20%" align="right">小计</td>
              </tr>
            </thead>
            <tbody>
              <%if(obj.goods){obj.goods.forEach(function(o){%>
                <tr>
                  <td width="50%" align="left"><%=o.name||''%></td>
                  <td width="10%" align="right"><%=o.num||''%></td>
                  <td width="20%" align="right">&yen;<%=StringUtil.setPrice(o.price)||'0.00'%></td>
                  <td width="20%" align="right">&yen;<%=StringUtil.setPrice(o.amount)||'0.00'%></td>
                </tr>
              <%});}%>
            </tbody>
          </table>
        </div>
      </section>

    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" id='pay' class="btn btn-primary btn-block" data-dismiss="modal">支付</button>
</div>
</form>
<script>
  $('#pay').on('click',function(e){
    $.post("/private/shop/order/order/doPay", {ids: <%=obj.id%>}, function (data) {
      console.log(data);
      if (data.code == 0) {
        datatable.ajax.reload(null,false);
      } else {
        Toast.error(data.msg);
      }
    }, "json");
  });
</script>
