<!DOCTYPE html>
<html>
<head>
  <title><%=sails.config.system.SiteConfig.site_name||''%></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">

  <!-- Bootstrap -->
  <link href="<%=CssPath%>/pc/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="<%=CssPath%>/pc/css/css1.css" rel="stylesheet">
  <script type="text/javascript" src="<%=CssPath%>/pc/js/jquery-1.8.3.min.js"></script>
  <script src="<%=CssPath%>/pc/js/common.js"></script>
  <script src="<%=CssPath%>/pc/js/codeku.js"></script>
  <script src="<%=CssPath%>/pc/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="<%=CssPath%>/pc/js/code.js"></script>
  <script type="text/javascript" src="<%=CssPath%>/pc/js/page.js"></script>
  <script src="<%=CssPath%>/pc/js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<%- body %>
</body>
</html>
