<header class="header">
  <a href="javascript:window.history.go(-1);" class="header_ladd1"><span>&nbsp;</span></a>
  <h1 class="head_tit">
    物流查询
  </h1>
  <a href="/wap/"><div class="header_r"><span class="header_cadd1"></span></div></a>
</header>
<%
var company = '商家自有物流';
  if(shipdetail.checkid == 0){
    company = shipdetail.sname;
  }
%>
	<dl class="h_wuliu cf2">
		<dd class="h_wuliur">
			<p>承运公司：<%=company%></p>
			<p>运单编号：<%=goods.shiptypeNo%></p>
      <p>收货人：<%=goods.addrName%></p>
      <p>电话：<%=goods.addrMobile%></p>
      <p>收货地址：<%=goods.addrProvince%><%=goods.addrCity%><%=goods.addrArea%><%=goods.addrAddr%></p>
		</dd>
	</dl>

<div class="h_wulium">
	<p class="h_wuliuma">物流跟踪</p>
  <div class="h_wuliumb">
    <%if(shipdetail.checkid == 0){%>
    <%shipdetail.sdetail.data.Traces.forEach(function(list){%>
      <span><%=list.AcceptStation%><p><%=list.AcceptTime%></p></span>
    <%})%>
    <%}else{%>
      <span>商家自有物流</span>
    <%}%>
  </div>
</div>

<nav class="bnav">
  <a href="/wap/" class="home_bnav">首页</a>
  <a href="/wap/class" class="class_bnav">分类</a>
  <a href="/wap/member" class="on my_bnav">我的</a>
  <a id="cartDiv" href="/wap/shopcart/list" class="cart_bnav">购物车<i id="cartNum"></i></a>
</nav>
<script src="<%=TplPath%>/js_wap/member_consult.js"></script>
<% include common_buttom.ejs %>
<a href="http://www.sunshop.cn/
" class="f_heigh f_relative" id="f_heigh"
><div class="f_txt">
  <p><img src="<%=CssPath%>/wap/images/f_logp.png" /></p>
</div></a>
<script>
$(document).ready(function() {
  var w = $(window).height();

  var i = parseInt(w-140)/1;
  $("#list").each(function(){
    $(this).css("min-height",i+"px");
  });
  var n = $("body").height();
    if(n>w){
        $("#f_heigh").addClass("f_relative");
    }
    else{
        $("#f_heigh").addClass("f_fix");
    }
});
</script>
