<link rel="stylesheet" href="/plugins/emoji/emoji.css">
<script src="/plugins/emoji/emoji.js"></script>
<header class="header">
  <a href="javascript:window.history.go(-1);" class="header_ladd1"><span>&nbsp;</span></a>

  <h1 class="head_tit">
    我的
  </h1>
  <a href="/wap/"><div class="header_r"><span class="header_cadd1"></span></div></a>

</header>
<div class="user_banner" style="background-image: url(<%=CssPath%>/wap/images/member_bg.jpg);">
  <div class="wbw">
    <div>
      <%if(dbMember.headimgurl){%><img src="<%=dbMember.headimgurl%>" class="user_banner_pic" /><%}else {%><img src="<%=CssPath%>/wap/images/icon/02.png" class="user_banner_pic" /><%}%>
    </div>
    <div><span class="green_text">[<%if(dbMember.lv_id){%><%=dbMember.lv_id.name%><%}else{%>默认会员分组<%}%>]</span></div>
    <div>您好，<span class="orange_text" style="line-height: 1.8rem;"><%-dbMember.nickname%></span></div>
    <div class="head_w">亲爱的小伙伴，欢迎光临 <%=sails.config.system.AppName||''%>！</div>
  </div>
</div>
<nav class="mycard_nav"><a href="/wap/member/money">
    <div class="text_eli"><ins>￥<%=StringUtil.setPrice(dbMember.money)%></ins></div>
    <div class="text_eli">账户余额</div>
  </a><a href="/wap/member/score">
    <div class="text_eli">
      <ins><%=dbMember.score%></ins>
    </div>
    <div class="text_eli">积分</div>
  </a><a href="/wap/member/coupon">
    <div class="text_eli"><ins><%=couponNum%></ins></div>
    <div class="text_eli">优惠券</div>
  </a><a href="/wap/member/order">
    <div class="text_eli"><ins><%=orderNum%></ins></div>
    <div class="text_eli">订单</div>
  </a></nav>
<!--  -->
<nav class="usernav">
  <a href="/wap/member/order" class="order_manage">我的订单</a>
</nav>
<nav class="usernav">
  <a href="/wap/member/address" class="return_usernav">收货地址</a>
  <a href="/wap/member/comment" class="site_usernav">我的评价</a>
  <a href="/wap/member/consult" class="con_usernav">我的咨询</a>
</nav>
<nav class="usernav">
  <a href="/wap/member/money" class="ask_usernav">我的余额</a>
  <a href="javascript:showPay();" class="ask_usernav">在线充值</a>
  <a href="/wap/member/coupon" class="asset_usernav">优惠券</a>
  <a href="/wap/member/score" class="coupon_usernav">积分明细</a>
  <a href="/wap/member/profile" class="jifeng_usernav">个人资料</a>
  <%if(sessionMember.loginWx&&!sessionMember.binded){}else {%>
  <a href="/wap/member/password" class="file_usernav">修改密码</a>
  <%}%>
</nav>
<%if(sessionMember.loginWx&&!sessionMember.binded){%>
<a href="/public/shop/wap/account/change" class="big_write_btn">绑定其他帐号</a>

<%}else if(!sessionMember.loginWx){%>
<a href="/public/shop/wap/account/logout" class="big_write_btn">安全退出</a>
<%}%>
<div id="payDiv" class="popup" style="display:none; ">
  <div class="popup_m">
    <div class="shopcar_heads cf2">
      <img src="<%=CssPath%>/wap/images/icon_public/end_s.png" class="close_btn" onclick="$('#payDiv').hide();"></div>
    <ul class="shopcars_f">
      <li class="shopcars_a">充值金额:
        <input type="number" id="money" value="" class="w_text">
      </li>
    </ul>
    <div class="shopcar_btn">
      <a href="javascript:savePay();" class="big_green_btn">确&nbsp;&nbsp;定</a>
    </div>
  </div>
</div>
<nav class="bnav">
  <a href="/wap/" class="home_bnav">首页</a>
  <a href="/wap/class" class="class_bnav">分类</a>
  <a href="/wap/member" class="on my_bnav">我的</a>
  <a id="cartDiv" href="/wap/shopcart/list" class="cart_bnav">购物车<i id="cartNum"></i></a>
</nav>
<script type="text/javascript">
  function showPay(){
    $("#payDiv").show();
    $("#money").focus();
  }
  function savePay(){
    var exp = /^([1-9][\d]{0,7}|0)(\.[\d]{1,2})?$/;
    if(!exp.test($("#money").val())||parseFloat($("#money").val())<=0){
      tip("请填写正确的充值金额");
      return false;
    }
    window.location.href='/wap/member/pay?money='+$("#money").val();
  }
</script>
<% include common_buttom.ejs %>
