<header class="header">
  <a href="javascript:window.history.go(-1);" class="header_ladd1"><span>&nbsp;</span></a>

  <h1 class="head_tit"><img src="<%= SiteConfig.site_wap_logo||'' %>" alt="" class="head_logo"/></h1>
  <a href="/wap/"><div class="header_r"><span class="header_cadd1"></span></div></a>

</header>
<nav class="step_nav"><div class="step_nav_box"><a href="javascript:;">我的购物车</a><a href="javascript:;" class="on">确认订单信息</a><a href="javascript:;">成功提交订单</a></div></nav>
<%if(address){%>
<div data-id="<%=address.id%>" class="line_box" style="cursor: pointer" onclick="window.location.href='/wap/member/address?from=buy';">
  <div class="shop_s"><img src="<%=CssPath%>/wap/images/icon/shop_s.png" class="shop_sl"><a><div class="shop_sr"><p class="shop_sr1"><span><%-address.name%></span>  ｜  <span><%-address.mobile%></span></p>
        <p class="shop_sr2"><%-address.province%><%-address.city%><%-address.area%><br><%-address.addr%></p>
      </div></a></div>
</div>
<%}else{%>
<div data-id="" class="line_box" style="cursor: pointer" onclick="window.location.href='/wap/member/address?from=buy';">
  <div class="shop_s"><img src="<%=CssPath%>/wap/images/icon/shop_s.png" class="shop_sl">
    <a><div class="shop_sr"><p class="shop_sr1">选择收货地址</p>
      </div></a></div>
</div>
<%}%>
<ul class="w_list">
  <li>
    <div class="black_text">商品清单</div>
    <ul class="count_pro" id="buyGoods">
      <%
      var sum=0;
      cartGoods.list.forEach(function(o){
        sum+=o.num;
      %>
      <li data-goodsid="<%=o.goodsId%>" data-productid="<%=o.productId%>" data-num="<%=o.num%>">
        <a><img src="<%=o.imgurl||''%>?type=s" class="pic_100" /><%=o.name||''%></a>
        <div class="count_pro_r"><ins class="black_text">&yen;<span class="ins_num"><%=o.showPrice||'0.00'%></span></ins><div>&#120;<span class="buy_num"><%=o.num||'0'%></span></div></div>
      </li>
      <%});%>
    </ul>
    <div class="bottom_info black_text">共<span class="orange_num"><%=sum%></span>件商品<span class="ml_30">合计：<ins class="black_text">&yen;<span class="ins_num"><%=cartGoods.showAllprice||'0.00'%></span></ins></span></div>
    <div class="wb black_text">运费<div class="text_r wbw">+<ins class="ml_30 black_text">&yen;<span class="ins_num" id="freightAmount"><%=cartGoods.showYunMoney||'0.00'%></span></ins></div></div>
    <div class="wb black_text">优惠<div class="text_r wbw">-<ins class="ml_30 black_text">&yen;<span class="ins_num" id="discountAmount">0.00</span></ins></div></div>
    <div class="wb black_text"><div class="text_r wbw"><a href="javascript:$('#div1').show();" class="r_arrow_a">使用优惠券</a></div></div>
    <%if(ShopConfig.tax_disabled==false&&cartGoods.allPrice>=ShopConfig.tax_price*100){%>
    <div class="wb black_text"><div class="text_r wbw"><a href="javascript:$('#div2').show();" class="r_arrow_a">开具发票</a></div></div>
    <%}%>
    <div class="quan"><textarea id="memo" maxlength="100" placeholder="补充说明，告诉卖家您的特殊要求…"></textarea></div>
  </li>
</ul>
<div class="line_box">
  <div class="black_text">收货时间</div><div class="wb">
  <ul class="wbw li_2">
  <li><span class="radio_sel">
                <input type="radio" value="1" name="receivedTime" checked="checked" id="time-1"><label for="time-1">工作日、双休日或假日均可送货</label>
            </span></li>
  <li><span class="radio_sel">
                <input type="radio" value="2" name="receivedTime" id="time-2"><label for="time-2">只工作日送货</label>
            </span></li>
  <li><span class="radio_sel">
                <input type="radio" value="3" name="receivedTime" id="time-3"><label for="time-3">只双休日、假日送货</label>
            </span></li>
    </ul></div>
</div>
<div class="line_box">
  <div class="black_text">支付方式</div>
  <div class="wb">
    <ul class="wbw li_2">
      <%if(ShopConfig.pay_alipay&&!browse_is_weixin){%>
      <li><span class="radio_sel"><input type="radio" id="pay-1" value="pay_alipay" name="payType" /><label
            for="pay-1">支付宝</label></span></li>
      <%}%>
      <%if(ShopConfig.pay_wxpay&&browse_is_weixin){%>
      <li><span class="radio_sel"><input type="radio" id="pay-2" value="pay_wxpay" name="payType" /><label
            for="pay-2">微信支付</label></span></li>
      <%}%>
      <%if(ShopConfig.pay_cash){%>
      <li><span class="radio_sel"><input type="radio" id="pay-3" value="pay_cash" name="payType" /><label
            for="pay-3">货到付款</label></span></li>
      <%}%>
      <%if(ShopConfig.pay_money){%>
      <li><span class="radio_sel"><input type="radio" id="pay-4" value="pay_money" name="payType" /><label
            for="pay-4">余额支付</label></span></li>
      <%}%>
    </ul>
  </div>
</div>
<div style="height: 3rem;"></div>
<div class="heji cf2">
  <div class="heji_a"></div>
  <div class="heji_b"><span>需支付：<i id="finishAmount">&yen;<%=cartGoods.showTotalMoney||'0.00'%></i></span>

  </div>
  <a href="javascript:doOrder();" class="heji_d">提交订单</a>
</div>
<div class="popup" id="div1" style="display:none; ">
  <div class="popup_m">
    <div class="shopcar_heads cf2">
      <img src="<%=CssPath%>/wap/images/icon_public/end_s.png" class="close_btn" onclick="cancelCoupon()"></div>
    <ul class="shopcars_f">
      <li class="shopcars_a">优&nbsp;惠&nbsp;券:
        <select id="youhuiquan" class="w_text">
          <option value="">选择优惠劵</option>
          <%couponList.forEach(function(y){%>
          <option value="<%=y.id%>"><%=y.couponName%></option>
          <%});%>
        </select>
      </li>
    </ul>
    <div class="shopcar_btn">
      <a id="save" href="javascript:doCoupon();" class="big_green_btn">确&nbsp;&nbsp;定</a>
    </div>
  </div>
</div>
<div class="popup" id="div2" style="display:none; ">
  <div class="popup_m">
    <div class="shopcar_heads cf2">
      <img src="<%=CssPath%>/wap/images/icon_public/end_s.png" class="close_btn" onclick="cancelFapiao()"></div>
    <ul class="shopcars_f">
      <li class="shopcars_a">
        发票类型：<input name="taxType" type="radio" value="1">企业<input name="taxType" type="radio" value="2" checked>个人
      </li>
      <li class="shopcars_a">
        <input placeholder="发票抬头" id="taxTitle" name="taxTitle" type="text" maxlength="100" class="w_text_fapiao">
      </li>
      <li class="shopcars_a">
        <input placeholder="发票内容" id="taxCentent" name="taxTitle" type="text" maxlength="200" class="w_text_fapiao">
      </li>
      <li class="shopcars_a">
        <input placeholder="发票税号(企业需填写)" id="taxNo" name="taxTitle" type="text" maxlength="50" class="w_text_fapiao">
      </li>
    </ul>
    <div class="shopcar_btn">
      <a id="save" href="javascript:doFapiao();" class="big_green_btn">确&nbsp;&nbsp;定</a>
    </div>
  </div>
</div>
<nav class="bnav">
  <a href="/wap/" class="home_bnav">首页</a>
  <a href="/wap/class" class="class_bnav">分类</a>
  <a href="/wap/member" class="my_bnav">我的</a>
  <a id="cartDiv" href="/wap/shopcart/list" class="on cart_bnav">购物车<i id="cartNum"></i></a>
  <a href="/wap/channel" class="more_bnav">更多</a>
</nav>
<script type="text/javascript">
  var totalMoney=<%=cartGoods.totalMoney%>;
  var couponList=<%-JSON.stringify(couponList)%>;
</script>
<script src="/shop/default/green/wap/js/buy.js"></script>
<% include common_buttom.ejs %>
