<header class="header navbar bg-white shadow">
  <div class="btn-group tool-button">
    <a class="btn btn-primary navbar-btn" href="/private/shop/goods/type" id="goback" data-pjax><i class="ti-angle-left"></i> 返回</a>
  </div>
  <div class="pull-right">
    <div class="btn-group tool-button">
      <button class="btn btn-primary navbar-btn" type="button" id="save"> 保存</button>
    </div>
  </div>
</header>

<div class="content-wrap">
  <form id="addForm" role="form" class="form-horizontal parsley-form" data-parsley-validate
        action="/private/shop/goods/type/addDo" method="post">
    <input type="hidden" id="is_physical" name="is_physical" value="<%=is_physical%>">
    <input type="hidden" id="use_props" name="use_props" value="<%=use_props%>">
    <input type="hidden" id="use_params" name="use_params" value="<%=use_params%>">
    <input type="hidden" id="use_spec" name="use_spec" value="<%=use_spec%>">
    <input type="hidden" id="use_tabs" name="use_tabs" value="<%=use_tabs%>">
  <div class="wrapper" style="min-height:500px;">
    <div class="box-tab">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#base" data-toggle="tab">基本设置</a>
        </li>
        <%if('1'==use_props){%>
        <li><a href="#props" data-toggle="tab">扩展属性</a>
        </li>
        <%}%>
        <%if('1'==use_spec){%>
        <li><a href="#spec" data-toggle="tab">规格</a>
        </li>
        <%}%>
        <%if('1'==use_params){%>
        <li><a href="#params" data-toggle="tab">详细参数表</a>
        </li>
        <%}%>
        <%if('1'==use_tabs){%>
        <li><a href="#mytab" data-toggle="tab">自定义tab</a>
        </li>
        <%}%>
      </ul>
      <div class="tab-content text-center">
        <div class="tab-pane fade active in" id="base">
          <h1 class="text-muted bolder">1</h1>
        </div>
        <div class="tab-pane fade" id="props">
          <h1 class="text-muted bolder">2</h1>
        </div>
        <div class="tab-pane fade" id="spec">
          <h1 class="text-muted bolder">3</h1>
        </div>
        <div class="tab-pane fade" id="params">
          <h1 class="text-muted bolder">4</h1>
        </div>
        <div class="tab-pane fade" id="mytab">
          <h1 class="text-muted bolder">5</h1>
        </div>
      </div>
    </div>
  </div>
    </form>
</div>
<div id="buttom"></div>
<script language="JavaScript">

  $(document).ready(function () {

    $('#addForm').ajaxForm({
      dataType: 'json',
      beforeSubmit: function (arr, form, options) {
        form.find("button:submit").button("loading");
      },
      success: function (data, statusText, xhr, form) {
        if (data.code == 0) {
          Toast.success(data.msg);
          //刷新父级菜单
          form.resetForm();
          setTimeout(function () {
            $("#goback").trigger("click");
          }, 1000);
        } else {
          Toast.error(data.msg);
        }
        form.find("button:submit").button("reset");
      }
    });
  });
</script>
