<div class="modal-body no-p">
  <div class="row">
    <div class="col-xs-12">
      <section class="panel panel-primary no-b">
        <header class="panel-heading clearfix brtl brtr">
          <div class="overflow-hidden">
            <a href="javascript:;" class="h4 show no-m pt5">会员信息</a>
          </div>
        </header>
        <div class="list-group" style="text-align: center;padding-top: 10px;">
          <table width="80%" style="padding: 10px;">
            <tr style="height: 30px;">
              <td width="20%" align="right">用户名：</td>
              <td width="30%" align="left"><%if(obj.accounts){obj.accounts.forEach(function(o){
                %><%=o.login_name%><br>
                <%
                });}%>
              </td>
              <td width="20%" align="right">信任登录：</td>
              <td width="30%" align="left"><%if(obj.binds){obj.binds.forEach(function(o){
                %><%=o.bind_type=='weixin'?'微信绑定':''%>:<%-o.bind_nickname%><br>
                <%
                });}%></td>
            </tr>
            <tr style="height: 30px;">
              <td width="20%" align="right">昵称：</td>
              <td width="30%" align="left"><%- obj.nickname||'' %></td>
              <td width="20%" align="right">手机号码：</td>
              <td width="30%" align="left"><%- obj.mobile||'' %></td>
            </tr>
            <tr style="height: 30px;">
              <td width="20%" align="right">预存款：</td>
              <td width="30%" align="left" style="color: red">&yen;<%= StringUtil.setPrice(obj.money)||'0.00' %></td>
              <td width="20%" align="right">积分：</td>
              <td width="30%" align="left"><%=obj.score||'0'%></td>
            </tr>
            <tr style="height: 30px;">
              <td width="20%" align="right">Email：</td>
              <td width="30%" align="left" colspan="3"><%-obj.email||''%></td>
            </tr>
            <tr style="height: 30px;">
              <td width="20%" align="right">姓名：</td>
              <td width="30%" align="left"><%=obj.realname||''%></td>
              <td width="20%" align="right">性别：</td>
              <td width="30%" align="left"><%=obj.sex==0?'未知':''%><%=obj.sex==1?'男':''%><%=obj.sex==2?'女':''%></td>
            </tr>
            <tr style="height: 30px;">
              <td width="20%" align="right">出生日期：</td>
              <td width="30%" align="left"><%if(obj.b_year>0){
                  var wdate=moment(obj.b_year+'-'+obj.b_month+'-'+obj.b_day).format("YYYY-MM-DD");
                  %><%=wdate%><%
                }%></td>
              <td width="20%" align="right">所属地区：</td>
              <td width="30%" align="left"><%=obj.province||''%><%=obj.city||''%><%=obj.area||''%></td>
            </tr>
            <tr style="height: 30px;">
              <td width="20%" align="right">详细地址：</td>
              <td width="30%" align="left" colspan="3"><%-obj.addr||''%></td>
            </tr>
            <tr style="height: 30px;">
              <td width="20%" align="right">注册来源：</td>
              <td width="30%" align="left"><%- obj.reg_source||'' %></td>
              <td width="20%" align="right">注册时间：</td>
              <td width="30%" align="left"><%=obj.reg_time?moment(obj.reg_time*1000).format("YYYY-MM-DD HH:mm:ss"):''%></td>
            </tr>
          </table>
        </div>
      </section>

    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">知道了</button>
</div>
