<div class="modal-body no-p">
  <div class="row">
    <div class="col-xs-12">
      <section class="panel panel-primary no-b">
        <header class="panel-heading clearfix brtl brtr">
          <div class="overflow-hidden">
            <a href="javascript:;" class="h4 show no-m pt5">积分</a>
          </div>
        </header>
        <div class="row mb10" style="text-align: center;padding-top: 10px;">
          <table width="80%" style="padding: 10px;">
            <tr style="height: 30px;">
              <td width="30%" align="right">当前积分：</td>
              <td width="70%" align="left">
                <span style="color: red">&yen;<%= obj.score||0 %></span>
              </td>
            </tr>
            <tr style="height: 30px;">
              <td width="30%" align="right">调整积分：</td>
              <td width="70%" align="left">
                <input type="text" id="score" name="score" class="control-group" placeholder="负值表示减积分">
              </td>
            </tr>
            <tr style="height: 30px;">
              <td width="30%" align="right">备注：</td>
              <td width="70%" align="left">
                <input type="text" id="txt" name="txt" class="control-group">
              </td>
            </tr>
            <tr style="height: 40px;padding-top: 30px;">
              <td width="30%" align="right">最近十条记录：</td>
              <td width="70%" align="left">
                <%if(list.length>0){list.forEach(function(o){
                %>
                <%=moment(o.createdAt*1000).format('YYYY-MM-DD HH:mm:ss')%>,<span style="color: green"><%-o.oldScore-o.newScore>0?'-':'+'%><%=o.diffScore%></span>,<%=o.note||''%>
                <br>
                <%});}else{%>
                无
                <%}%>
              </td>
            </tr>
          </table>
        </div>
      </section>

    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
  <button onclick="doScore()" id="ok" type="button" class="btn btn-primary" data-loading-text="正在提交...">确 定</button>
</div>
<script type="text/javascript">
  function doScore(){
      var btn = $("#ok");
      var dialog = $("#dialogDetail");
      btn.button("loading");
      $.post("/private/shop/member/member/doScore", {id: <%=obj.id%>,score:$("#score").val(),txt:$("#txt").val()}, function (data) {
        if (data.code == 0) {
          Toast.success("提交成功");
          dialog.modal("hide");
          datatable.ajax.reload();
        } else {
          Toast.error(data.msg);
        }
        btn.button("reset");

      }, "json");
  }
</script>
