<div class="slidmenu">
  <% include common_top.ejs %>
</div>
<div class="lanrm cf clear">
  <div class="lanrenzhijiakl cf clear">

    <div class="lanrm1"><span class="lanrm1a"><img src="<%=CssPath%>/pc/img/icon/hui_p.jpg">请注册</span></div>
    <ul class="c_land cf clear lanrenzhijiak" style="height:385px;overflow:hidden;">

      <li class="c_lands cf clear mt10">
        <span><img src="<%=CssPath%>/pc/img/public/deng_per.png" /></span>
        <input type="text" placeholder="邮箱/用户名/手机验证码" /></li>
      <li class="c_lands cf clear">
        <span><img src="<%=CssPath%>/pc/img/public/deng_s.png" /></span>
        <input type="password" placeholder="密码" /></li>
      <li class="c_lands cf clear">
        <span><img src="<%=CssPath%>/pc/img/public/deng_s.png" /></span>
        <input type="password" placeholder="再次输入密码" /></li>
      <li class="c_lands cf clear">
        <span><img src="<%=CssPath%>/pc/img/public/iphone4.png" /></span>
        <input type="password" placeholder="手机号码" /></li>
      <li class="c_landl"><input type="text" placeholder="验证码" class="c_landl1" /><input type="text" value="获取验证码" class="c_landl2a" /></li>
      <li class="c_landd">
        <span><input checked="check" type="checkbox" name="default" value="default"><label>我已阅读并同意 <i class="colorr">会员注册协议</i></label></span>
      </li>
      <li class="c_landf"><input type="button" value="立即注册" /></li>

    </ul>
    <div class="ligin"><img src="<%=CssPath%>/pc/img/lodim.jpg"></div>
  </div>
</div>
<%include common_buttom.ejs%>
