<% include account_top.ejs %>
<%var imgurl=CssPath+'/pc/img/logins-bg.jpg';
if(bannerLink&&bannerLink.links>0){
  imgurl=bannerLink.links[0].imgurl;
}else{
  imgurl= CssPath + "/pc/img/lodim.jpg";
}
%>
<div class="login cf2">
  <div class="deng"><img src="<%=CssPath%>/pc/img/hui_p.jpg"/>请登录</div>
  <div class="login_p">
  <div class="land-add"><a id="t1" href="javascript:;" class="land-addr land-addon">普通登录</a><a id="t2" href="javascript:;" class="land-addl">动态短信登录</a></div>

  <ul class="login-main  login-mains">
    <li class="login-ent"><span class="login_ma"><img src="<%=CssPath%>/pc/img/deng_per.png"/></span><input id="login_name" tabindex="1" value="<%=saveLoginname||''%>"  maxlength="100" type="text" placeholder="请输入用户名" class="login-phone"></li>
    <li class="error" style="display: none" id="login_name_tip"></li>
    <li class="login-enta"><div class="fot_m cf2"><span class="login_ma"><img src="<%=CssPath%>/pc/img/deng_s.png"/></span>
        <input id="login_pass" tabindex="2"  maxlength="20" type="password" placeholder="请输入密码" class="login-phonev">
      </div><a href="javascript:$('#t2').trigger('click')" class="fortm" style="font-size: 12px;">忘记密码？</a>
    </li>
    <li class="error" style="display: none" id="login_pass_tip"></li>
    <li class="login-entm">
      <div class="logol_mb"><span class="login_ma"><img src="<%=CssPath%>/pc/img/deng_y.png"/></span>
      <input id="vercode" tabindex="3" maxlength="4" placeholder="请输入验证码" type="text" class="login-verl">
      </div>
      <img id="vercode_img" src="/public/shop/pc/account/captcha?<%=moment().format('x')%>" class="login-verc" onclick="javascript:loadimage(this);">
      <input type="button" value="换一张" class="login-verr" onclick="javascript:loadimage(this);"></li>
    <li class="error" style="display: none" id="vercode_tip"></li>
    <li class="login-entk" style="line-height:35px;"><input id="saveLoginname" <%if(saveLoginname){%>checked<%}%> tabindex="4" type="checkbox"><span>记住用户名</span></li>
    <li class="login-btn">
      <input id="doLogin" type="button" value="登录">
    </li>
    <%if(sails.config.system.ShopConfig.oauth_open){%>
    <li class="coor" >
      <span class="coor_b">
        <%if(sails.config.system.ShopConfig.pay_wxpay&&sails.config.system.ShopConfig.oauth_weixin){%>
    	  <a href="javascript:loginWx()"><img src="<%=CssPath%>/pc/img/coor_d.jpg"/></a>
        <%}%>
        <%if(sails.config.system.ShopConfig.pay_wxpay&&sails.config.system.ShopConfig.oauth_qq){%>
        <span id="qqLoginBtn"></span>
        <%}%>
      </span>
    </li>
    <%}%>
    <li class="u-agreement">还不是商城会员，请立即<a href="/join">注册</a></li>

  </ul>
  <ul class="login-main c_hide login-mainf">

    <li class="login-ent">
      <span class="login_ma"><img src="<%=CssPath%>/pc/img/iphone4.png"/></span>
      <input id="mobile" maxlength="11" type="text" placeholder="请输入手机号码" class="login-phone"></li>
    <li class="error" style="display: none" id="mobile_tip"></li>

    <li class="login-entm">
      <div class="logol_mb"><span class="login_ma"><img src="<%=CssPath%>/pc/img/deng_y.png"/></span>
      <input id="vercode_mobile" maxlength="4" placeholder="请输入验证码" type="text" class="login-verl">
      </div>
      <img id="vercode_img_mobile" style="width:90px" src="/public/shop/pc/account/captcha?<%=moment().format('x')%>" class="login-verl" onclick="javascript:loadimage(this);">
      <input type="button" value="换一张" class="login-verr" onclick="javascript:loadimage(this);"></li>
    <li class="error" style="display: none" id="vercode_mobile_tip"></li>

    <li class="login-entn">
      <div class="act_ent"><span class="login_ma"><img src="<%=CssPath%>/pc/img/dial.png"/></span>
      <input id="smscode" type="text" maxlength="6" placeholder="请输入手机动态密码" class="login-phone-l">
      </div>
        <input id="getSmscode" type="button" value="获取动态密码" class="login-phone-r"></li>
    <li class="error" style="display: none" id="smscode_tip"></li>

    <li class="login-btn">
      <input id="doLoginMobile" type="button" value="登录">
    </li>
    <li class="u-agreement">还不是商城会员，请立即<a href="/join">注册</a></li>

  </ul>
  </div>
  <div class="deng_r"><img src="<%=imgurl%>" /></div>
</div>
<input id="r" type="hidden" value="<%=r%>">
<div id="tip" style="display: none">
  <div class="oc_pro_bg"></div>
  <div class="oc_pro_m">
    <span class="oc_pro_b">提示</span>
    <span class="oc_pro_a"></span>
    <span><input value="确认" type="button" class="oc_pro" /><input type="button" value="取消" class="oc_pro1" /></span>
  </div>
</div>
<div id="wx" style="display:none ">
  <div class="oc_pro_bg"></div>
  <div class="oc_pro_m">
    <span class="oc_pro_b">请使用微信扫描二维码</span>
    <span class="oc_pro_a"><div id="qrCode"></div></span>
    <span><input value="确认" type="button" class="oc_pro"/><input type="button" value="取消" class="oc_pro1" /></span>
  </div>
</div>

<script type="text/javascript">
  var domain="<%=sails.config.system.AppDomain%>";
</script>
<%if(sails.config.system.ShopConfig.oauth_open&&sails.config.system.ShopConfig.pay_wxpay&&sails.config.system.ShopConfig.oauth_weixin){%>
<script src="/plugins/jquery.qrcode.min.js"></script>
<%}%>
<%if(sails.config.system.ShopConfig.oauth_open&&sails.config.system.ShopConfig.pay_wxpay&&sails.config.system.ShopConfig.oauth_qq){
var qq_appid='';
  if(sails.config.system.ShopConfig.oauth_qq_info){
    qq_appid=sails.config.system.ShopConfig.oauth_qq_info.qq_appid;
}
%>
<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="<%=qq_appid||''%>" data-redirecturi="<%=req.baseUrl%>/public/shop/pc/account/oauthQq" charset="utf-8" ></script>
<script type="text/javascript">
  QC.Login({
    btnId:"qqLoginBtn",    //插入按钮的节点id
    scope: "get_user_info"
  },function(oInfo, oOpts){
    //登陆成功执行
    var nickname=QC.String.escHTML(oInfo.nickname);//获取QQ会员名
    var info={
      nickname:nickname,
      gender:oInfo.gender,
      headimgurl:oInfo.figureurl_qq_1 //头像100X100
    };
    if(QC.Login.check()){
      QC.Login.getMe(function(openId, accessToken){
        info.openid=openId;
        $.post(
          "/public/shop/pc/account/oauthQqStatus",
          info,
          function(result){
            console.log(result);
            if(result.code==0){
              window.location.href=$("#r").val()||'/member';
            }else{
              $("#tip .oc_pro_a").html('登录失败');
              $("#tip").show();
            }
          },'json'
        );
      });
    }
  });</script>
<%}%>
<script src="<%=TplPath%>/js_pc/login.js"></script>
<%include common_buttom.ejs%>
