<div class="head-menu-placeholder notindex-bg">
  <div class="head-menu disable-bg fixed" id="h-m-content">
    <div class="nav_a clear">
      <div class="lanrenzhijia">
        <li>
          <span class="h-shop">
            <div class="h-shopm"><img src="<%= CssPath %>/pc/img/public/tubiao.png" class="icon_t"/><span class="quan">全部商品</span>
              <img src="<%= CssPath %>/pc/img/icon/tubiao1.png" class="icon"/></div>
            <div class="h-shopmf clear">
              <%allClassList.forEach(function(class1){
              if(class1.parentId==0){%>
              <div class="c_shop clear">
                <a href="/list/<%=class1.id%>" class="nav_first">
                  <img src="<%= CssPath %>/pc/img/icon/tubiaos.png" class="cjs_shop">
                  <img src="<%= CssPath %>/pc/img/public/tubiaoa.png" class="cj_shop">
                  <span><%=class1.name%></span>

                  </a>
                <%if(class1.hasChildren){%><span class="nav_li c_hide">
                  <img src="<%= CssPath %>/pc/img/icon/nav_bg.png" class="icon_san c_hide">
                  <%allClassList.forEach(function(class2){
                  if(class2.parentId==class1.id){%>
                  <a href="/list/<%=class2.id%>"><%=class2.name%></a>
                  <%}});%></span>
                <%}%>
              </div>
              <%}});%>
            </div>
        </span>


        </li>
        <li class="z_nav_li">
          <a a href="/">首页</a>
        </li>
        <li class="z_nav_li">
          <a a href="/hot">新品热卖</a>
        </li>
        <li class="z_nav_li">
          <a a href="/channel/news">活动资讯</a>
        </li>
        <li class="z_nav_li">
          <a href="/channel/about">关于我们</a>
        </li>
        <li class="z_shop">


            <span id="cartDiv" class="z_shopm">
              <a href="/shopcart/list" class="z_shops"><img src="<%=CssPath%>/pc/img/public/z_shop.png">购物车<span id="cartNum">0</span>件</a>
            <dl id="cartList" class="z_gous" style="display: none">
              <dt class="z_gous1">最近加入商品</dt>
              <dt class="cart-box1">
              </dt>
              <dl class="z_gou3"><span class="z_gou3a">共<i>0</i>件商品总计
                    <p>￥0.00</p>
                    </span>
              </dl>
            </dl>
            </span>
        </li>

      </div>
    </div>
  </div>
</div>
<img src="<%=CssPath%>/pc/img/cart_1.png" width="0" height="0">
<img src="<%=CssPath%>/pc/img/cart_2.png" width="0" height="0">
<img src="<%=CssPath%>/pc/img/cart_del.png" width="0" height="0">
