<div class="footer_a">
  <div class="footer_af">
    <ul class="footer_w">
      <li class="footer_ws" id="cart-btn"><img src="<%=SiteConfig.wechat_qrcode||''%>"/></li>
      <li class="footer_wt">商城微信公众号</li>
    </ul>
    <%channelList.forEach(function(channel1){
    if(channel1.parentId==0){
      %>
    <ul class="footer_n">
      <li class="footer_nf"><a href="/channel/<%=channel1.id%>"><%=channel1.name%></a></li>
      <%channelList.forEach(function(channel2){
        if(channel2.parentId==channel1.id){
      %>
      <li class="footer_s"><a href="/channel/<%=channel2.id%>"><%=channel2.name%></a></li>

      <%}
      });}%>
    </ul>
    <%
    });%>

    <ul class="footer_sh">
      <li class="footer_shf"><a href="javascript:;">售后服务</a></li>
      <a href="<%=SiteConfig.site_qq?'http://wpa.qq.com/msgrd?v=3&amp;uin='+SiteConfig.site_qq+'&amp;site=qq&amp;menu=yes':''%>" target="_blank">
        <li class="footer_shs">24小时在线客服</li>
      </a>
      <li class="footer_sht"><%-SiteConfig.site_tel||''%></li>
      <li>周一至周日&nbsp; 8：00-18：00</li>
    </ul>
  </div>
</div>

<div class="footer_l"><%-SiteConfig.footer_content||''%></div>
<script src="<%=CssPath%>/pc/js/banner.js"></script>
