<div class="slidmenu">
  <% include common_top.ejs %>
  <% include common_banner.ejs %>

</div>
<div id="schedule">
  <div class="schedule_h">
    <span class="schedule_hf">当前位置:</span>
    <div class="schedule_hs"><a href="/">首页</a>  / <a href="/goods/<%=goods.id%>" class="color_y">产品详情</a></div>
  </div>
</div>


<div class="schedule_im">
  <!------立即抢购右侧部分------>
  <div class="scrolltabm">
    <div class="ban-barmlm">
      <ul class="ulBigPicm">
        <%if(goods.images){goods.images.forEach(function(o){%>
        <li>
          <a href="javascript:;"><img src="<%=o.imgurl%>?type=m" width="420" height="420"/></a>
        </li>
        <%});}%>
      </ul>
    </div><!--ulBigPic end-->
    <div class="dSmallPicBoxm">
      <div class="dSmallPicm">
        <ul class="ulSmallPicm" style="width:2646px;left:0px" rel="stop">
          <%
            var img_i=0;
            if(goods.images){goods.images.forEach(function(o){%>
          <li <%=img_i==0?'class=liSelectedm':''%>>
            <a href="javascript:;"><img src="<%=o.imgurl%>?type=m" width="69" height="69"/></a>
          </li>
          <%
            img_i++;
          });}%>


        </ul>
      </div>
      <span id="sLeftBtnBm" class="sLeftBtnBm"></span>
      <span id="sRightBtnBm" class="sRightBtnBm"></span>
    </div><!--dSmallPicBox end-->

  </div>

  <!-----购物车----->
  <div style="display: none;" class="top-float-menu-placeholder">
    <div class="top-float-menu-panel">
      <div class="top-float-menu">
        <span class="title"><img src="<%=goods.imgurl||''%>?type=s" width="70" height="70">
          <%=goods.name||''%></span>
        <div class="top-float-menu-right">
          <span class="price">￥<%=StringUtil.setPrice(goods.price)||''%></span>
          <span class="jiarua"><input onclick="addToCarShop(this,'<%=goods.id%>','')" type="button" value="加入购物车"></span>

          <center><a class="btn-normal-yellowa">
              <span class="btn-text">√ 已成功加入购物车</span>
              <span class="btn-right"></span>
            </a></center>
        </div>
      </div>
    </div>
  </div>
  <div class="window" id="certificate-window">
    <div class="window-content">
    </div>
  </div>

  <!-------立即抢购左侧部分---------->
  <ul class="schedule_hdm">
    <a href="#">
      <li class="schedule_hd1m">
        <span class="schedule_hd1am">超值果蔬礼盒包</span>
        <span class="schedule_hd1sm">种类齐全，值得选购种类齐全，值得选购种类齐全，值得选购种类齐全，值得选购种类齐全，值得选购种类齐全，值得选购</span>
      </li>
    </a>
    <li class="schedule_hd2m cf clear">
      <div class="guige_add"><span class="jia_ge">零售价：</span><i class="jia_gea">¥18.00</i></div>
      <p>商城价：<span>￥18.00</span>
    </li>
    <li class="schedule_hd2mfr cf2"><span class="schedule_hd2mfr_f">选择规格:</span>
      <div class="cf2 schedule_hd2mfr_fds"><span class="duion chicun_pub">约1.75kg</span><span
          class="chicun">约1.75kg</span><span class="chicun_pub">约1.75kg</span><span
          class="chicun_pub">约1.75kg</span><span class="chicun">约1.75kg</span><span
          class="chicun_pub">约1.75kg</span><span class="chicun_pub">约1.75kg</span><span
          class="chicun">约1.75kg</span><span class="chicun_pub">约1.75kg</span><span class="chicun_pub">约1.75kg</span>
      </div>
    </li>


    <li class="schedulehd4">
      <div class="schedulehd4_h">选择数量:</div>
      <div class="schedulehd4z"><a href="#" class="schedulehd4_a">—</a>
        <span class="schedulehd4_s">1</span>
        <a href="#" class="schedulehd4_a">+</a>
        <span class="schedulehd4_d">库存100</span>

      </div>
    </li>

    <li class="schedule_hd6m">
      <div class="schedule_hd6n"><a href="04-购物车-a第一步.html" id="cart-btn"><input type="button" value="立即购买"
                                                                                 class="schedulehd4_f"></a>
        <input type="button" value="加入购物车" class="schedulehd4_g"></div>

    </li>
  </ul>
</div>
<!--end婚品商城APP-->
<!-----产品详情---->
<div class="s_pinjia cf">
  <div class="hot_sell">
    <div class="hot_sella"><span>热销产品</span></div>
    <dl class="hot_sells">
      <a href="#">
        <dt><img src="img/chan7.jpg"></dt>
        <dd>热销蔬菜<p>￥23.00</p></dd>
      </a>
    </dl>
    <dl class="hot_sells">
      <a href="#">
        <dt><img src="img/chan7.jpg"></dt>
        <dd>热销蔬菜<p>￥23.00</p></dd>
      </a>
    </dl>
    <dl class="hot_sells">
      <a href="#">
        <dt><img src="img/chan7.jpg"></dt>
        <dd>热销蔬菜<p>￥23.00</p></dd>
      </a>
    </dl>
    <dl class="hot_sells">
      <a href="#">
        <dt><img src="img/chan7.jpg"></dt>
        <dd>热销蔬菜<p>￥23.00</p></dd>
      </a>
    </dl>
    <dl class="hot_sells">
      <a href="#">
        <dt><img src="img/chan7.jpg"></dt>
        <dd>热销蔬菜<p>￥23.00</p></dd>
      </a>
    </dl>
  </div>
  <div class="fr">
    <div id="s_detail">
      <ul class="s_detail" id="tab3">
        <a href="#s_pinglunsl1" class="s_details s_detaila">
          <li>详情</li>
        </a>
        <a href="#s_pinglunsl" class="s_details">
          <li>评价</li>
        </a>
        <a href="#s_pinglunsl2" class="s_details">
          <li>咨询</li>
        </a>
      </ul>
    </div>
    <!-------基本参数------->

    <div class="s_detaild cf clear">
      <a href="#" id="s_pinglunsl1" style="position:relative;top:-115px;display:block;"></a>
      <div class="ml20 mt10 s_detaildf"><span><img src="img/k1.jpg"></span>
        <p id="s_pinglunsl" style="margin:0px;"></p></div>
      <!------评价------>
      <!-----我要评论----->
      <!-----我要评论结束----->
      <div class="cf clear">
        <div class="tab3">
          <span style="width:160px;line-height:58px;display:inline-block;text-align:center;"><span
              style="font-size:14px;color:#333;">好评率:</span><i style="font-size:24px;color:#e4003c;">90%</i></span>
          <a href="#" class="on3">评价</a>
          <a href="#">全部（0）</a>
          <a href="#">很好（0）</a>
          <a href="#">较好（0）</a>
          <a href="#">一般（0）</a>
        </div>
        <div class="s_pinglunsl cf2">
          <div class="s_pinglunl">
            <div class="s_pinglunla"><img src="img/icon/s_people.png"/></div>
            <div class="s_pinglunls">jd_site</div>
          </div>
          <ul class="s_pinglunld">
            <li class="s_pinglunlf">
              <i class="zc_pin">好评</i>
              <span>评论时间：2015-07-23 11：40</span>
            </li>
            <li class="s_pinglung">菜很好吃，很新鲜，对于这次购物很满意，以后还会再次光顾的。</li>
            <li class="s_pinglunh"><a href="#">[回复]</a> 购买日期：2015-07-10</li>
          </ul>
        </div>

        <div class="s_pinglunsl cf2">
          <div class="s_pinglunl">
            <div class="s_pinglunla"><img src="img/icon/s_people.png"/></div>
            <div class="s_pinglunls">jd_site</div>
          </div>
          <ul class="s_pinglunld">
            <li class="s_pinglunlf">
              <i class="zc_pin">中评</i>
              <span>评论时间：2015-07-23 11：40</span>
            </li>
            <li class="s_pinglung">
              菜很好吃，很新鲜，对于这次购物很满意，以后还会再次光顾的菜很好吃，很新鲜，对于这次购物很满意，以后还会再次光顾的菜很好吃，很新鲜，对于这次购物很满意，以后还会再次光顾的菜很好吃，很新鲜，对于这次购物很满意，以后还会再次光顾的菜很好吃，很新鲜，对于这次购物很满意，以后还会再次光顾的菜很好吃，很新鲜，对于这次购物很满意，以后还会再次光顾的菜很好吃，很新鲜，对于这次购物很满意，以后还会再次光顾的。
            </li>
            <li class="s_pinglunh"><a href="#">[回复]</a> 购买日期：2015-07-10</li>
          </ul>
        </div>

        <div class="s_pinglunsl cf2">
          <div class="s_pinglunl">
            <div class="s_pinglunla"><img src="img/icon/s_people.png"/></div>
            <div class="s_pinglunls">jd_site</div>
          </div>
          <ul class="s_pinglunld">
            <li class="s_pinglunlf">
              <i class="zc_pin">好评</i>
              <span>评论时间：2015-07-23 11：40</span>
            </li>
            <li class="s_pinglung">菜很好吃，很新鲜，对于这次购物很满意，以后还会再次光顾的。</li>
            <li class="s_pinglunh"><a href="#">[回复]</a> 购买日期：2015-07-10</li>
          </ul>
        </div>
        <!---------分页部分---------->
        <dl class="s_page cf clear">
          <a href="#" class="s_pagel">上一页</a>
          <a href="#" class="s_pagel1 s_pageron">1</a>
          <a href="#" class="s_pagel1">2</a>
          <a href="#" class="s_pagel1">3</a>
          <a href="#" class="s_pagel1">4</a>
          <a href="#" class="s_pagel1">5</a>
          <a href="#" class="s_pagel2">....</a>
          <a href="#" class="s_pagel1">18</a>
          <a href="#" class="s_pager">下一页</a>
        </dl>
        <p id="s_pinglunsl2"></p>
        <ul class="zixun">
          <li class="zixunp"><span>商品咨询</span></li>
          <li class="z_zixun"><span class="z_zixuna"><input type="button" value="我要咨询"><i>请登陆后再咨询，如果你不是会员请注册！</i></span>
            <span class="z_zixuns"><a href="#" class="z_zixunson">全部咨询</a><a href="#">商品资讯</a><a href="#">配送咨询</a><a
                href="#">售后咨询</a></span>
            <p class="z_zixund">如果您对本商品有什么疑问，请提问咨询</p>
          </li>
          <li class="z_zixunf">
            <span class="z_zixunf1">发表评论</span>
            <span class="z_zixunf2">咨询类型:<input type="radio" value="m" name="sex">商品咨询<input type="radio" value="w"
                                                                                             name="sex">配送咨询<input
                type="radio" name="sex">售后咨询 </span>
            <span class="z_zixunf3"><textarea placeholder="欢迎发表咨询，最多1000字"></textarea></span>
            <span class="z_zixunf4">联系方式：<input type="text"><i>可以是电话、email、qq、等</i></span>
            <span class="z_zixunf5"><a href="#">提交咨询</a></span>
          </li>
          <li class="zixun1 cf clear">
            <div class="zixun1a"><img src="img/icon/detail2.jpg"><i>咨询内容</i><span>这个猪是怎么选择的呢？</span><input type="button"
                                                                                                           value="【回复】"
                                                                                                           class="huahao_s1">
            </div>
            <div class="divContainer1">
              <ul>

                <textarea></textarea></ul>
            </div>
          </li>
          <li class="zixun1 cf clear">
            <div class="zixun1a"><img src="img/icon/detail2.jpg"><i>咨询内容</i><span>这个猪的品种是怎么选择的呢？</span></div>
            <div class="zixun1s"><img src="img/icon/detail3.jpg"><i>回复内容</i><span>猪的品种影响着它的肥瘦肉配比。尚作自养猪严选外三元品种，与市场上的普通猪相较，此品种的猪瘦肉比大。猪皆以玉米和大豆为食，生长期超过十个月。饲养过程中加入了经过专家团队精心配制的56味具保健功效的中草药，能提高猪的免疫能力，并可增加猪肉的口感，提升猪肉鲜味，肥肉肥而不腻。</span>
            </div>
          </li>
          <li class="zixun1 cf clear">
            <div class="zixun1a"><img src="img/icon/detail2.jpg"><i>咨询内容</i><span>这个猪的品种是怎么选择的呢？</span></div>
            <div class="zixun1s"><img src="img/icon/detail3.jpg"><i>回复内容</i><span>猪的品种影响着它的肥瘦肉配比。尚作自养猪严选外三元品种，与市场上的普通猪相较，此品种的猪瘦肉比大。猪皆以玉米和大豆为食，生长期超过十个月。饲养过程中加入了经过专家团队精心配制的56味具保健功效的中草药，能提高猪的免疫能力，并可增加猪肉的口感，提升猪肉鲜味，肥肉肥而不腻。</span>
            </div>
          </li>
          <li class="zixun1 cf clear">
            <div class="zixun1a"><img src="img/icon/detail2.jpg"><i>咨询内容</i><span>这个猪的品种是怎么选择的呢？</span></div>
            <div class="zixun1s"><img src="img/icon/detail3.jpg"><i>回复内容</i><span>猪的品种影响着它的肥瘦肉配比。尚作自养猪严选外三元品种，与市场上的普通猪相较，此品种的猪瘦肉比大。猪皆以玉米和大豆为食，生长期超过十个月。饲养过程中加入了经过专家团队精心配制的56味具保健功效的中草药，能提高猪的免疫能力，并可增加猪肉的口感，提升猪肉鲜味，肥肉肥而不腻。</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script>
  $(function(){
    picLunbo();
    var cart_btn = $("#cart-btn");
    var scrollTop = $(this).scrollTop();
    var scrolled = false;
    $(window).scroll(function(){
      scrolled = Math.abs($(this).scrollTop()-scrollTop)>0;
      if($(this).scrollTop()>cart_btn.offset().top+cart_btn.height()){
        $(".top-float-menu-placeholder").fadeIn();
      }else{
        if(scrolled)
          $(".top-float-menu-placeholder").fadeOut();
        else
          $(".top-float-menu-placeholder").css("display","none");
      }
    });
    $(window).scroll();
  });
</script>
<% include common_buttom.ejs %>
