<div class="slidmenu">
  <% include common_top.ejs %>
  <% include common_banner.ejs %>

</div>
<%var page_url='/hot';
var page_name='新品热卖';
if(search_name){
  page_url='/search';
  page_name='商品搜索';
}%>
<div id="schedule">
  <div class="schedule_h">
    <span class="schedule_hf">当前位置:</span>
    <div class="schedule_hs"><a href="/">首页</a>  > <a href="<%=page_url%>" class="color_y"><%=page_name%></a></div>
  </div>
</div>
<%if(bannerLink&&bannerLink.links&&bannerLink.links.length>0){
var link=bannerLink.links[0];
%>

<div class="p_classify cf clear">
  <img src="<%= link.picurl||'' %>">
</div>
<%}%>

<%
sort_type == 'asc'?'desc':'asc';
var sortObj = {
  'default': ['默认排序'],
  'buy': ['销量'],
  'price': ['价格']
}
%>

<div class="wrap">
  <div class="pai_m">
    <div class="pai_w">
      <i><%=sortObj[sort_name][0]%></i><img src="<%=CssPath%>/pc/img/paix.png" class="paix_ka"/><img src="<%=CssPath%>/pc/img/paix_a.png" class="paix_kb c_hide"/>
      <ul class="mall_rf pai_a c_hide">
        <%if(sort_name != 'default'){%>
        <li><a href="<%=page_url%>?search_name=<%=search_name||''%>">默认排序</a></li>
        <%}%>
        <%if(sort_name != 'buy'){%>
        <li ><a style="<%=sort_name=='buy'?'color: red':''%>" href="<%=page_url%>?search_name=<%=search_name||''%>&sort_name=buy&sort_type=<%=sort_type=='asc'?'desc':'asc'%>">销量<img src="<%=CssPath%>/pc/img/public/<%=sort_type=='asc'?'y_jiagel':'y_jiagel1'%>.png" /></a></li>
        <%}%>
        <%if(sort_name != 'price'){%>
        <li ><a style="<%=sort_name=='price'?'color: red':''%>" href="<%=page_url%>?search_name=<%=search_name||''%>&sort_name=price&sort_type=<%=sort_type=='asc'?'desc':'asc'%>">价格<img src="<%=CssPath%>/pc/img/public/<%=sort_type=='asc'?'y_jiagel':'y_jiagel1'%>.png" /></a></li>
        <%}%>
      </ul>
    </div>
  </div>
  <div class="k_hotcfg">
    <%goodsData.data.forEach(function(hotgoods){
      var len=0;
      if(hotgoods.info)len=hotgoods.info.length;
    %>
    <ul class="k_hotcf1 fl ml20" data-goods-id="<%=hotgoods.id%>" data-goods-name="<%=hotgoods.name%>"  data-goods-price="<%=StringUtil.setPrice(hotgoods.price)%>" data-goods-imgurl="<%=hotgoods.imgurl||''%>?type=s">
      <li class="k_hotcf1s"><a href="/goods/<%=hotgoods.id%>" target="_blank"><img src="<%=hotgoods.imgurl||''%>?type=s" title="<%=hotgoods.name%>" alt="<%=hotgoods.name%>"></a></li>
      <a href="/goods/<%=hotgoods.id%>" target="_blank"><li class="k_hotcf1a"><%=hotgoods.name%></li></a>
      <li class="<%=len>22?'pro_discript_min':'pro_discript'%>"><%=hotgoods.info||''%></li>
      <li class="k_hotcf1d"><span><i>&yen;<%=StringUtil.setPrice(hotgoods.price)%></i><br><del>&yen;<%=StringUtil.setPrice(hotgoods.priceMarket)%></del></span>
        <%if(!hotgoods.is_spec&&ShopConfig.list_quick_buy){%><input onclick="addToCarShop(this,'<%=hotgoods.id%>','',<%=hotgoods.buyMin||1%>)" type="button" value="加入购物车"><%}%></li>

    </ul>
    <%});%>
  </div>
  <%include common_page.ejs%>
</div>
<div id="tip" style="display:none">
  <div class="oc_pro_bg"></div>
  <div class="oc_pro_m">
    <span class="oc_pro_b">提示</span>
    <span class="oc_pro_a"></span>
    <span><input value="确定" type="button" class="oc_pro"/><input type="button" value="取消" class="oc_pro1"/></span>
  </div>
</div>
<script>
  $(".pai_w").mouseover(function(){
    $(".pai_a").removeClass("c_hide");
    $(".paix_ka").addClass("c_hide");
    $(".paix_kb").removeClass("c_hide");});
  $(".pai_w").mouseout(function(){
    $(".pai_a").addClass("c_hide");
    $(".paix_ka").removeClass("c_hide");
    $(".paix_kb").addClass("c_hide");});
</script>
<%include common_buttom.ejs%>

