<div class="slidmenu">
  <% include common_top.ejs %>
  <% include common_banner.ejs %>

</div>
<%if(bannerLink&&bannerLink.links&&bannerLink.links.length>0){%>
<div class="i_banner">
  <ul class="bd">
    <%bannerLink.links.forEach(function(link){%>
    <li style="background-image:url('<%= link.picurl||'' %>');"><a href="<%=link.url||'javascript:;'%>"></a></li>
    <%});%>
  </ul>
  <div class="hd">
    <ul></ul>
  </div>
  <div class="ie_shadow ie6_png"></div>
</div>
<%}%>
<div class="wrap">
  <!----新品热卖start----->
  <div class="k_hotc"><span style="color:#fe6000">新品热卖</span>
    <ul class="k_hotch">
      <li class="k_hotchg brn"><a href="/hot">更多>></a></li>
    </ul>
  </div>
  <div class="k_hotcf">
    <%hotGoodsList.forEach(function(hotgoods){%>
    <ul class="k_hotcf1 fl ml20" data-goods-id="<%=hotgoods.id%>" data-goods-name="<%=hotgoods.name%>"  data-goods-price="<%=StringUtil.setPrice(hotgoods.price)%>" data-goods-imgurl="<%=hotgoods.imgurl||''%>?type=s">
      <li class="k_hotcf1s"><a href="/goods/<%=hotgoods.id%>" target="_blank"><img src="<%=hotgoods.imgurl||''%>?type=s" title="<%=hotgoods.name%>" alt="<%=hotgoods.name%>"></a></li>
      <a href="/goods/<%=hotgoods.id%>" target="_blank"><li class="k_hotcf1a"><%=hotgoods.name%></li></a>
      <li class="pro_discript"><%=hotgoods.info||''%></li>
      <li class="k_hotcf1d"><span><i>&yen;<%=StringUtil.setPrice(hotgoods.price)%></i><br><del>&yen;<%=StringUtil.setPrice(hotgoods.priceMarket)%></del></span>
        <%if(!hotgoods.is_spec){%><input type="button" value="加入购物车"><%}%></li>

    </ul>
   <%});%>
  </div>
  <!----新品热卖end----->
  <!----商品分类start----->
  <%indexClassList.forEach(function(clist1){%>
  <div class="k_hotc cf clear"><span><%=clist1.name%></span>
    <ul class="k_hotch">
      <li class="k_hotchg brn"><a href="/list/<%=clist1.id%>">更多>></a></li>
      <%clist1.children.forEach(function(clist2){%>
      <li><a href="/list/<%=clist2.id%>"><%=clist2.name%></a></li>
      <%});%>
    </ul>
  </div>
  <div class="k_hotcfg">
    <%clist1.goodslist.forEach(function(indexgoods){%>
    <ul class="k_hotcf1 fl ml20" data-goods-id="<%=indexgoods.id%>" data-goods-name="<%=indexgoods.name%>"  data-goods-price="<%=StringUtil.setPrice(indexgoods.price)%>" data-goods-imgurl="<%=indexgoods.imgurl||''%>?type=s">
      <li class="k_hotcf1s"><a href="/goods/<%=indexgoods.id%>" target="_blank"><img src="<%=indexgoods.imgurl||''%>?type=s" title="<%=indexgoods.name%>" alt="<%=indexgoods.name%>"></a></li>
      <a href="/goods/<%=indexgoods.id%>" target="_blank"><li class="k_hotcf1a"><%=indexgoods.name%></li></a>
      <li class="pro_discript"><%=indexgoods.info||''%></li>
      <li class="k_hotcf1d"><span><i>&yen;<%=StringUtil.setPrice(indexgoods.price)%></i><br><del>&yen;<%=StringUtil.setPrice(indexgoods.priceMarket)%></del></span>
        <%if(!indexgoods.is_spec){%><input type="button" value="加入购物车"><%}%></li>

    </ul>
    <%});%>
  </div>
  <%});%>
  <!----商品分类end----->

</div>
<%if(centerChannel&&centerChannel.articles&&centerChannel.articles.length>0){
  var aobj=centerChannel.articles[0];
%>
<div id="about" class="cf clear">
  <div class="about_us cf clear">
    <dl class="about_usm">
      <dt class="about_usl"><a href="/info/<%=aobj.id%>" target="_blank">
          <img src="<%=aobj.picurl||''%>" title="<%=centerChannel.name||''%>" alt="<%=centerChannel.name||''%>">
        </a>
      </dt>
      <a href="/info/<%=aobj.id%>" target="_blank"><dd class="about_usr">
          <p><%=aobj.title||''%></p>
            <span><%=aobj.info||''%></span>
          <i>查看详细</i>
        </dd></a>
    </dl>
  </div>
</div>
<%}%>
<div class="about_usnews cf clear">
  <%if(buttomChannel&&buttomChannel.articles&&buttomChannel.articles.length>0){%>
  <%buttomChannel.articles.forEach(function(bobj){%>
  <a href="/info/<%=bobj.id%>" target="_blank"><ul class="about_usnews1">
      <li class="about_usnews2"><img src="<%=bobj.picurl||''%>" title="<%=bobj.title||''%>" alt="<%=bobj.title||''%>"></li>
      <li class="about_usnews3"><%=bobj.title||''%></li>
      <li class="about_usnews4"><%=bobj.info||''%></li>
    </ul></a>
  <%});%>
  <%}%>
</div>

<%include common_buttom%>
