<div class="slidmenu">
  <% include common_top.ejs %>
  <% include common_banner.ejs %>

</div>
<div class="w1200 shop_f1">
  <div class="shop_f2">我的购物车</div>
  <ul class="shop_f">
    <li class="tian4">1、我的购物车</li>
    <li class="tian5">2、确认订单信息</li>
    <li class="tian3">3、成功提交订单</li>
  </ul>
</div>
<div id="pageOverlay" style=""></div>
<div class="address-box" id="dingdan" style="display: block;">
  <form class="checkout_or" id="checkout_or">
    <input type="hidden" name="distAddInfo.id" value="" id="distAddInfo_id">
    <p>使用新地址：</p><div class="bianji-close"><a href="#this" onclick="showAddView()">×</a></div>
    <ul class="radio">
      <li>收&nbsp;&nbsp;货&nbsp;&nbsp;人:<sup class="surely">*</sup>
        <input type="text" name="distAddInfo.consignee" maxlength="50" value="">
      </li>
      <li class="tishi_ok_line" style="display: none;"></li>
      <li>选择地区:<sup class="surely">*</sup>
        <select name="distAddInfo.province" class="province">
          <option value="" class="opt_tongyong">请选择省</option>

          <option class="opt_tongyong" value="11">北京市</option>

          <option class="opt_tongyong" value="12">天津市</option>

          <option class="opt_tongyong" value="13">河北省</option>

          <option class="opt_tongyong" value="14">山西省</option>

          <option class="opt_tongyong" value="15">内蒙古自治区</option>

          <option class="opt_tongyong" value="21">辽宁省</option>

          <option class="opt_tongyong" value="22">吉林省</option>

          <option class="opt_tongyong" value="23">黑龙江省</option>

          <option class="opt_tongyong" value="31">上海市</option>

          <option class="opt_tongyong" value="32">江苏省</option>

          <option class="opt_tongyong" value="33">浙江省</option>

          <option class="opt_tongyong" value="34">安徽省</option>

          <option class="opt_tongyong" value="35">福建省</option>

          <option class="opt_tongyong" value="36">江西省</option>

          <option class="opt_tongyong" value="37">山东省</option>

          <option class="opt_tongyong" value="41">河南省</option>

          <option class="opt_tongyong" value="42">湖北省</option>

          <option class="opt_tongyong" value="43">湖南省</option>

          <option class="opt_tongyong" value="44">广东省</option>

          <option class="opt_tongyong" value="45">广西壮族自治区</option>

          <option class="opt_tongyong" value="46">海南省</option>

          <option class="opt_tongyong" value="50">重庆市</option>

          <option class="opt_tongyong" value="51">四川省</option>

          <option class="opt_tongyong" value="52">贵州省</option>

          <option class="opt_tongyong" value="53">云南省</option>

          <option class="opt_tongyong" value="54">西藏自治区</option>

          <option class="opt_tongyong" value="61">陕西省</option>

          <option class="opt_tongyong" value="62">甘肃省</option>

          <option class="opt_tongyong" value="63">青海省</option>

          <option class="opt_tongyong" value="64">宁夏回族自治区</option>

          <option class="opt_tongyong" value="65">新疆维吾尔自治区</option>

        </select>
        <select class="city" name="distAddInfo.city"><option value="">请选择市</option><option value="4101">郑州市</option><option value="4102">开封市</option><option value="4103">洛阳市</option><option value="4104">平顶山市</option><option value="4105">安阳市</option><option value="4106">鹤壁市</option><option value="4107">新乡市</option><option value="4108">焦作市</option><option value="4109">濮阳市</option><option value="4110">许昌市</option><option value="4111">漯河市</option><option value="4112">三门峡市</option><option value="4113">南阳市</option><option value="4114">商丘市</option><option value="4115">信阳市</option><option value="4116">周口市</option><option value="4117">驻马店市</option></select>
        <select name="distAddInfo.county" class="county"><option value="">请选择县</option><option value="410201">市辖区</option><option value="410202">龙亭区</option><option value="410203">顺河回族区</option><option value="410204">鼓楼区</option><option value="410205">禹王台区</option><option value="410211">金明区</option><option value="410221">杞县</option><option value="410222">通许县</option><option value="410223">尉氏县</option><option value="410224">开封县</option><option value="410225">兰考县</option></select>
      </li>
      <li class="tishi_ok_line" style="display: none;"></li>
      <li>街道地址:<sup class="surely">*</sup>
        <input type="text" name="distAddInfo.street" style="width: 300px;" maxlength="120" value="">
      </li>
      <li class="tishi_ok_line" style="display: none;"></li>
      <li>手机号码:<sup class="surely">*</sup>
        <input type="text" name="distAddInfo.mobile" class="" value="" size="11" maxlength="11">
        </li>
      <li class="tishi_ok_line" style="display: none;"></li>
      <li>设置默认<input type="checkbox" name="distAddInfo.isDefault" style="margin-left:15px;vertical-align: middle;width: 16px;" value="1"></li>
      <li><input type="button" class="btn_baocun" id="" style="margin-bottom:30px" value="保 存" onclick="addOneAdd(this,'')"><input type="button" class="btn_quxiao" id="" value="取 消" onclick="clearData(this)"></li>
    </ul>
  </form>
</div>
<div class="shops_f"><a href="#"><img src="<%= CssPath %>/pc/img/icon/shop_s.png"/>确认收货地址</a></div>
<div class="z_dizhi cf2">
  <ul class="z_dizhi_first">
    <li class="z_dizhi_firston"><span><em>王小明</em><i>13012345678</i></span>
      <p>安徽省合肥蜀山区市黄山路599号时代数码港1202</p></li>
    <li><span><em>王小明</em><i>13012345678</i></span>
      <p>安徽省合肥蜀山区市黄山路599号时代数码港1202</p></li>
    <li><span><em>王小明</em><i>13012345678</i></span>
      <p>安徽省合肥蜀山区市黄山路599号时代数码港1202</p></li>
    <li><span><em>王小明</em><i>13012345678</i></span>
      <p>安徽省合肥蜀山区市黄山路599号时代数码港1202</p></li>
    <li><span><em>王小明</em><i>13012345678</i></span>
      <p>安徽省合肥蜀山区市黄山路599号时代数码港1202</p></li>
  </ul>
  <div class="z_dizhi_second"><p>
      <a href="###">显示全部常用地址 <img src="<%= CssPath %>/pc/img/public/san_x.png" class="mi">
        <img src="<%= CssPath %>/pc/img/public/san_xa.png" class="mm img_line"></a></p></div>
  <div class="z_dizhi_third shops_s7"><input type="button" value="新增收货地址"></div>
  <ul class="z_dizhi_four">
    <li><span class="z_dizhi_foura">收货人姓名</span><span class="z_dizhi_fours"><input type="text"></span></li>
    <li>
      <span class="z_dizhi_foura">省市区</span><span class="z_dizhi_fourd">
        		<select>
              <option>安徽</option>
              <option>浙江</option>
              <option>广东</option>
              <option>河北</option>
            </select>
        		<select>
              <option>安徽</option>
              <option>浙江</option>
              <option>广东</option>
              <option>河北</option>
            </select>
        		<select>
              <option>安徽</option>
              <option>浙江</option>
              <option>广东</option>
              <option>河北</option>
            </select>
        	</span>
    </li>
    <li><span class="z_dizhi_foura">详细地址</span><span class="z_dizhi_fours"><input type="text"></span></li>
    <li><span class="z_dizhi_foura">手机号码</span><span class="z_dizhi_fourf"><input type="text"></span></li>
    <li><input type="button" value="保存到常用地址" class="z_dizhi_fourg"></li>
  </ul>
</div>


<div class="shops_f"><a href="#"><img src="<%=CssPath%>/pc/img/icon/shop_s.png"/>商品清单</a></div>
<table class="tab-b">
  <tr bordercolor="#ddd" height="40px" bgcolor="#eee">
    <td align="center">商品名称</td>
    <td></td>
    <td align="center">商品规格</td>
    <td align="center">价格</td>
    <td align="center">数量</td>
    <td align="center">合计</td>
  </tr>
  <tr>
    <td><img src="shopn_files/551860e3ef97462ca2f2bc27d1c79533.jpg" height="70" width="70" class="second-img">
    </td>
    <td><span class="tab-txt">山东特产正宗潍县萝卜青萝卜</span></td>
    <td><span class="tab-gui"></span></td>
    <td><span class="tab-num">&yen;18.90</span></td>
    <td align="center"><span class="tab-deg">1</span></td>
    <td><span class="tad-l">&yen;18.90</span></td>
  </tr>
</table>

<ul class="shop_s w1200">
  <li class="shop_s1"><span class="z_guige_five">补充说明<input type="text" placeholder="选填，可告诉买家您的特殊要求"></span></li>
  <li class="shop_s2"><span class="shop_numk"><em class="shop_num">2 </em>件商品&nbsp;   合计：<br>运费：</span><span class="shop_numa"><i>选择优惠券<input type="text" placeholder="输入优惠券密码" class="shop_nums"><input type="button" value="验证" class="shop_numd"><a href="#">使用优惠券</a></i><em>总计：</em></span></li>
  <li class="shop_s3"><i>￥37.80 <br />￥6.00</i><br><span>￥43.80</span> </li>

</ul>
<div class="shops_s6"><a href="04-购物车-c第三步.html"><input type="botton" value="确认提交" /></a></div>
<div id="tip" style="display: none">
  <div class="oc_pro_bg"></div>
  <div class="oc_pro_m">
    <span class="oc_pro_b">提示</span>
    <span class="oc_pro_a"></span>
    <span><input value="继续购物" type="button" class="oc_pro" /><input type="button" value="取消" class="oc_pro1" /></span>
  </div>
</div>
<script src="<%=CssPath%>/pc/js/buy.js"></script>
<% include common_buttom.ejs %>
