<style>
  .yudd_dm .g_zhifu{width:1200px;height:auto !important;text-align:center;
    position:relative;margin-left:-275px;margin-top: 10px;}
</style>
<div class="slidmenu">
  <% include common_top.ejs %>
  <% include common_banner.ejs %>

</div>
<div class="w1200 shop_f1">
  <div class="shop_f2">我的购物车</div>
  <ul class="shop_f">
    <li class="tian4">1、我的购物车</li>
    <li class="tian2">2、确认订单信息</li>
    <li class="tian7">3、成功提交订单</li>
  </ul>
</div>
<%if(order&&order.id>0){%>
<%if(order.payStatus==0){%>
<form id="payForm" action="/public/shop/pc/shoppay/payAlipay" target="_blank" method="post">
  <input type="hidden" name="id" value="<%=order.id%>">
<ul class="yudd_dm">
  <li class="g_chengm"><center><img src="<%=CssPath%>/pc/img/icon/g_xiaol.jpg">您已成功提交订单 <%=order.payType=='pay_cash'?'！':'，请支付 ！'%></center></li>
  <li class="g_dingdan">订单号：<span><%=order.id%></span>
    <br>
    支付金额：<span>&yen;<%=StringUtil.setPrice(order.finishAmount)||'0.00'%></span>
    <%if(order.payType=='pay_cash'){%>
    <br>
    支付方式：<span>货到付款</span>
    <%}%>
  </li>
    <li class="g_zhifu" style="display: <%=order.payType=='pay_cash'?'none':'block'%>">
      <%if(ShopConfig.pay_alipay){%>
      <span>
            <!-- 支付宝支付 -->
            <input value="pay_alipay" name="payType" class="ml20" type="radio" <%=order.payType=='pay_alipay'?'checked':''%>><img style="cursor: pointer" data-id="pay_alipay" src="<%=CssPath%>/pc/img/public/alipay.jpg">
        </span>
      <%}%>
      <%if(ShopConfig.pay_wxpay){%>
      <span>
            <!-- 微信支付 -->
            <input value="pay_wxpay" name="payType" class="ml20" type="radio" <%=order.payType=='pay_wxpay'?'checked':''%>><img style="cursor: pointer" data-id="pay_wxpay" src="<%=CssPath%>/pc/img/public/wxpay.jpg">
        </span>
      <%}%>
      <%if(ShopConfig.pay_cash){%>
      <span>
            <!-- 货到付款 -->
            <input value="pay_cash" name="payType" class="ml20" type="radio" <%=order.payType=='pay_cash'?'checked':''%>><img style="cursor: pointer" data-id="pay_cash" src="<%=CssPath%>/pc/img/public/cash.jpg">
        </span>
      <%}%>
      <%if(ShopConfig.pay_money){%>
      <span>
            <!-- 余额支付 -->
            <input value="pay_money" name="payType" class="ml20" type="radio" <%=order.payType=='pay_money'?'checked':''%>><img style="cursor: pointer" data-id="pay_money" src="<%=CssPath%>/pc/img/public/money.jpg">
        </span>
      <%}%>
    </li>
  <li style="display: <%=order.payType=='pay_money'?'block':'none'%>;height: 50px;margin-top: 20px;line-height: 22px;font-size: 14px;" class="g_zhifu ml20" id="sendMsgLi">
    <div style="">
      <span style="margin-left:-200px; color:#333;">账户余额：</span><span class="score_num" style="color:#2C9C74">￥<%=StringUtil.setPrice(dbMember.money)||'0.00'%></span>
    </div>
    <div style="margin-left:430px;">
      <span style="float: left"><input placeholder="短信验证码" style="height: 30px;" type="text" id="smscode" maxlength="6" />
      <input id="btnSms" type="button" class="<%=order.finishAmount<=dbMember.money?'btn_shiyong_yes':'btn_shiyong_no'%>"
             value="发送验证码" <%-order.finishAmount<=dbMember.money?'onclick="sendMsg()"':''%>/>
      </span>
			<span id="smscode_tip" class="error" style="display: <%=order.finishAmount<=dbMember.money?'none':'block'%>">账户余额不足！请先<span><a style="color: red"
                                                                                                                                     href="/member/pay">充值</a></span>或使用其他支付方式！</span>

    </div>
    <div class="clear"></div>
  </li>
  <%if(ShopConfig.pay_wxpay){%>
  <li id="wxLi" class="xuanze5c" style="height: 200px;display: <%=order.payType=='pay_wxpay'?'block':'none'%>;">
    <div id="qrCode" style="font-size: 22px;">二维码加载中...</div>
    <div style="padding-top: 10px;"><img src="<%=CssPath%>/pc/img/public/wxpay_b.png" width="200" height="65"></div>
  </li>
  <%}%>
  <li id="payLi" class="<%=order.payType=='pay_cash'?'xuanze5b':'xuanze5a'%>" style="display: <%=order.payType=='pay_wxpay'?'none':'block'%>;">
    <%if(order.payType=='pay_cash'){%>
    <input type="button" value="查看订单" class="xuanze5 ml20" onclick="window.location.href='/member/order'">
    <input type="button" value="继续购物" class="xuanze6" onclick="window.location.href='/'">
    <%}else{%>
    <input id="payOnline" type="button" value="立即支付" class="xuanze5 ml20" >
    <span><a href="/member">稍后支付</a></span>
    <%}%>
  </li>
</ul>
</form>
<%}else{%>
<ul class="yudd_dm">
  <li class="g_chengm"><center><img src="<%=CssPath%>/pc/img/icon/g_xiaol.jpg">您已成功支付订单！</center></li>
  <li class="g_dingdan">订单号：<span><%=order.id%></span>
    <br>
    支付金额：<span>&yen;<%=StringUtil.setPrice(order.finishAmount)||'0.00'%></span>
    <%if(order.payType=='pay_cash'){%>
    <br>
    支付方式：<span>货到付款</span>
    <%}%>
    <%if(order.payType=='pay_money'){%>
    <br>
    支付方式：<span>余额支付</span>
    <%}%>
    <%if(order.payType=='pay_alipay'){%>
    <br>
    支付方式：<span>支付宝支付</span>
    <%}%>
    <%if(order.payType=='pay_wxpay'){%>
    <br>
    支付方式：<span>微信支付</span>
    <%}%>
  </li>  <li class="xuanze5b">
    <input type="button" value="查看订单" class="xuanze5 ml20" onclick="window.location.href='/member/order'">
    <input type="button" value="继续购物" class="xuanze6" onclick="window.location.href='/'">

  </li>
</ul>
<%}%>
<%}else{%>
<ul class="yudd_dm">
  <li class="g_chengm">对不起，这不是您的订单，您无权查看。</li>
</ul>
<%}%>
<div id="tip1" style="display: none">
  <div class="oc_pro_bg"></div>
  <div class="oc_pro_m">
    <span class="oc_pro_b">提示</span>
    <span class="oc_pro_a">请您到新打开的支付页面上进行支付，支付完成前请不要关闭当前窗口！</span>
    <span><input value="已完成支付" type="button" class="oc_pro" onclick="window.location.reload()" /><input type="button" value="支付遇到问题" class="oc_pro1" onclick="$('#tip1').hide();$('#tip2').show();" /></span>
  </div>
</div>
<div id="tip2" style="display:none">
  <div class="oc_pro_bg"></div>
  <div class="oc_pro_m">
    <span class="oc_pro_b">提示</span>
    <span class="oc_pro_a">如果您的支付遇到问题，请使用其他方式支付，或致电客服电话<span style="font-size:14px;line-height: 20px;color: red"><%=SiteConfig.site_tel||''%></span></span>
    <span><input value="确定" type="button" class="oc_pro" onclick="$('#tip2').hide();"/><input type="button" value="取消" class="oc_pro1"  onclick="$('#tip2').hide();"/></span>
  </div>
</div>
<div id="tip" style="display:none">
  <div class="oc_pro_bg"></div>
  <div class="oc_pro_m">
    <span class="oc_pro_b">提示</span>
    <span class="oc_pro_a"></span>
    <span><input value="确定" type="button" class="oc_pro"/><input type="button" value="取消" class="oc_pro1"/></span>
  </div>
</div>
<script>
  var orderId='<%=order.id%>';
  <%if(ShopConfig.pay_wxpay&&order.payStatus==0&&order.payType=='pay_wxpay'){%>
  $(function(){
    wxPay();
  });
  <%}%>
</script>
<script src="/plugins/jquery.qrcode.min.js"></script>
<script src="<%=TplPath%>/js_pc/order.js"></script>
<% include common_buttom.ejs %>
