<div class="slidmenu">
  <% include common_top.ejs %>
  <% include common_banner.ejs %>

</div>
<div class="w1200 shop_f1">
  <div class="shop_f2">我的购物车</div>
  <ul class="shop_f">
    <li class="tian4">1、我的购物车</li>
    <li class="tian5">2、确认订单信息</li>
    <li class="tian3">3、成功提交订单</li>
  </ul>
</div>
<div id="pageOverlay" style="display: none;"></div>
<div id="addr" class="address-box" style="display: none;">
  <form class="checkout_or" id="checkout_or">
    <input type="hidden" name="distAddInfo.id" value="" id="distAddInfo_id">
    <p>使用新地址：</p><div class="bianji-close"><a href="javascript:closeAddr()">×</a></div>
    <ul class="radio">
      <li>收&nbsp;货&nbsp;人:<sup class="surely">*</sup>
        <input id="_name" type="text" maxlength="50" value="">
      </li>
      <li class="error" style="display: none" id="_name_tip"></li>
      <li>选择地区:<sup class="surely">*</sup>
        <select id="_province" class="province">
          <option value="" >请选择省</option>
        </select>
        <select class="city" id="_city">
          <option value="">请选择市</option>
        </select>
        <select id="_area" class="county">
          <option value="">请选择区县</option>
        </select>
      </li>
      <li class="error" style="display: none" id="_area_tip"></li>
      <li>街道地址:<sup class="surely">*</sup>
        <input type="text" id="_addr" style="width: 300px;" maxlength="120" value="">
      </li>
      <li class="error" style="display: none" id="_addr_tip"></li>
      <li>手机号码:<sup class="surely">*</sup>
        <input type="text" id="_mobile" class="" value="" size="11" maxlength="11">
        </li>
      <li class="error" style="display: none" id="_mobile_tip"></li>
      <li>设置默认<input type="checkbox" id="_is_default" style="margin-left:15px;vertical-align: middle;width: 16px;" value="1"></li>
      <li><input type="button" class="btn_baocun" id="" style="margin-bottom:30px" value="保 存" onclick="saveAddr()">
        <input type="button" class="btn_quxiao" id="" value="取 消" onclick="closeAddr()"></li>
    </ul>
  </form>
</div>
<div class="shops_f"><img src="<%= CssPath %>/pc/img/icon/shop_s.png"/>确认收货地址</div>
<div class="z_dizhi cf2">
  <ul id="addrList" class="z_dizhi_first">
  </ul>
  <div class="z_dizhi_second"><p>
      <a href="javascript:;">显示全部常用地址 <img src="<%= CssPath %>/pc/img/public/san_x.png" class="mi">
        <img src="<%= CssPath %>/pc/img/public/san_xa.png" class="mm img_line"></a></p></div>
  <div class="z_dizhi_third shops_s7"><input onclick="addAddr()" type="button" value="新增收货地址"></div>
</div>


<div class="shops_f"><img src="<%=CssPath%>/pc/img/icon/shop_s.png"/>商品清单</div>
<table class="tab-b">
  <tr bordercolor="#ddd" height="40px" bgcolor="#eee">
    <td width="30"></td>
    <td align="center">商品名称</td>
    <td></td>
    <td align="center"></td>
    <td align="center">单价</td>
    <td align="center">数量</td>
    <td align="center">小计</td>
  </tr>
  <%cartGoods.list.forEach(function(o){%>
  <tr data-goodsid="<%=o.goodsId%>" data-productid="<%=o.productId%>" data-num="<%=o.num%>">
    <td></td>
    <td><img src="<%=o.imgurl||''%>?type=s" height="70" width="70" class="second-img">
    </td>
    <td><span class="tab-txt"><%=o.name||''%></span></td>
    <td><span class="tab-gui"></span></td>
    <td><span class="tab-num">&yen;<%=o.showPrice||'0.00'%></span></td>
    <td align="center"><span class="tab-deg"><%=o.num||'0'%></span></td>
    <td><span class="tad-l">&yen;<%=o.showSumPrice||'0.00'%></span></td>
  </tr>
  <%});%>
</table>
<div class="shops_f cf clear"><img src="<%=CssPath%>/pc/img/icon/shop_s.png">选择支付方式</div>

<ul class="shops_s_a w1200">
  <li class="shops_s1">
    <%if(ShopConfig.pay_alipay){%>
        <span>
            <!-- 支付宝支付 -->
            <input value="pay_alipay" name="payType" checked="checked" type="radio"><img src="<%=CssPath%>/pc/img/public/alipay.jpg">
        </span>
    <%}%>
    <%if(ShopConfig.pay_wxpay){%>
        <span>
            <!-- 微信支付 -->
            <input value="pay_wxpay" name="payType" type="radio"><img src="<%=CssPath%>/pc/img/public/wxpay.jpg">
        </span>
    <%}%>
    <%if(ShopConfig.pay_cash){%>
        <span>
            <!-- 货到付款 -->
            <input value="pay_cash" name="payType" class="ml20" type="radio"><img src="<%=CssPath%>/pc/img/public/cash.jpg">
        </span>
    <%}%>
    <%if(ShopConfig.pay_money){%>
            <span>
            <!-- 余额支付 -->
            <input value="pay_money" name="payType" class="ml20" type="radio"><img src="<%=CssPath%>/pc/img/public/money.jpg">
        </span>
    <%}%>
  </li>
  <li class="shops_s2">
    使用优惠券：
    <select id="youhuiquan" onchange="doCoupon()">
      <option value="">选择优惠劵</option>
      <%couponList.forEach(function(y){%>
      <option value="<%=y.id%>"><%=y.couponName%></option>
      <%});%>
    </select>
    <span class="error" style="display:none " id="youhuiquan_tip"></span>

  </li>
</ul>

<ul class="shop_s w1200">
  <li class="shop_s1">
    <span class="z_guige_five">订单留言<input maxlength="100" type="text" placeholder="可告诉我们您的特殊要求，如配送时间等，限100字以内"></span>
    <%if(ShopConfig.tax_disabled==false){%>
    <input id="chkFapiao" type="checkbox" style="<%=cartGoods.allPrice>=ShopConfig.tax_price*100?'':'display:none'%>">开具发票：商品总价（不含运费）满<%=ShopConfig.tax_price%>元可开具发票，企业请务必填写税号
    <div class="fapiao" style="display: none">
      <%if(cartGoods.allPrice>=ShopConfig.tax_price*100){%>
      发票类型：<input name="taxType" type="radio" value="1">企业<input name="taxType" type="radio" value="2" checked>个人<br>
      发票抬头：<input id="taxTitle" name="taxTitle" type="text" maxlength="100" style="width: 250px;"><br>
      发票内容：<input id="taxCentent" name="taxTitle" type="text" maxlength="200" style="width: 250px;"><br>
      发票税号：<input id="taxNo" name="taxTitle" type="text" maxlength="50"><br>
      <%}%>
    </div>
    <%}%>
  </li>
  <li class="shop_s2">
    <span class="shop_numk">商品总价：<br>运费：<br>优惠券：</span>
    <span class="shop_numa"><em>实际支付：</em></span></li>
  <li class="shop_s3">
    <span class="i1" id="goodsAmount">&yen;<%=cartGoods.showAllprice||'0.00'%></span>
    <br><span class="i2" id="freightAmount">&yen;<%=cartGoods.showYunMoney||'0.00'%></span>
    <br><span class="i3" id="discountAmount">-&yen;0.00</span>
    <br><span class="i4" id="finishAmount">&yen;<%=cartGoods.showTotalMoney||'0.00'%></span> </li>

</ul>
<div class="shops_s6">
  <span class="error" style="display: none" id="order_tip">正在提交中，请勿重复提交。</span>
  <input onclick="doOrder()" class="" type="button" value="提交订单" /></div>
<div id="tip" style="display: none">
  <div class="oc_pro_bg"></div>
  <div class="oc_pro_m">
    <span class="oc_pro_b">提示</span>
    <span class="oc_pro_a"></span>
    <span><input value="继续购物" type="button" class="oc_pro" /><input type="button" value="取消" class="oc_pro1" /></span>
  </div>
</div>
<script>
  var totalMoney=<%=cartGoods.totalMoney%>;
  var couponList=<%-JSON.stringify(couponList)%>;
</script>
<script src="<%=CssPath%>/pc/js/buy.js"></script>
<% include common_buttom.ejs %>
